*{
    margin: 0;
    padding: 0;
}
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
    header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 140px;
}
#youtube{
    color: red;
}
.gamer{
    width: 86.041px;
    height: 42px;
    margin-right: 10px;
    margin-top: 6px;
}
.logo{
    display: flex;
}
.icon{
    display: flex;
    width: 220px;
    padding: 5px 0px 5px 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
span{
    color: #FF42A5;
}
.gamer-logo{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
   font-style: normal;
   font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > .list >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 60px 130px;
}
.banner-content{
    margin-top: 130px;
}
.play{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: normal
}

.goat{
    text-align: center;
    font-family: Work Sans;
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-list{
    margin-left: 10px;
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
   font-style: normal;
   font-weight: 500;
}
.banner-img img{
    height: 98%;
    width: 98%;
}
#pink{
    color: #FF42A5;
}
.banner-container{
    margin-top: 15px;
}
.pink-btn{
    padding: 16px 33px;
    color: #FFF;
    border-radius: 46px;
    border-style: none;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    font-size: 16px;;
    margin-top: 30px;
    margin-right: 15px;
}
.blue-btn{
    padding: 16px 33px;
    color: #FFF;
    border-radius: 46px;
    border-style: none;
    background: #4EC5F7;;
    font-size: 16px;;
    margin-top: 30px;
    margin-right: 15px;
}
.second-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin: 20px 120px 20px 10px;
}
.secnd-title{
    text-align: right;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.secnd-discription{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}
.online-game{
    text-align: center;
}
.online-title{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
}
.online-discrip{
    font-weight: 400;
    font-size: 14px;
    color: #534C64;
    margin-bottom: 15px;
}
.online-image img{
    width: 250px;
    height: 300px;
}
.online-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 110px;
}
.img-discription{
    color: #534C64;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    width: 200px;
}
.play-instantly{
    display: flex;
    justify-content: space-between;
    margin: 40px 90px 0px 140px;
}
.instant-content{
    text-align: right;
    margin-top: 150px;
}
.instant-title{
    text-align: right;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
   font-weight: 700;
   width: 200px;
   margin-bottom: 10px;
}
.ractangular-img{
    margin-left: 150px;
    /* border: 2px solid red; */
}

.r-img{
    position: relative;
    bottom: 190px;
}
.image-part img{
    height: auto;
    width: 98%;
    margin-left: 110px;
}
.small-img img{
    height: auto;
    width: 50%;
    position: relative;
    bottom: 100px;
    left: 360px;
}
.next-container{
    display: flex;
    justify-content: space-between;
    gap: 350px;
}
.next-title{
    text-align: left;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    width: 340px;
    margin-top: 100px;
    margin-right: 100px;
   
}
.discrip{
    margin-top: 10px;
    width: 320px;
}
.light-pink{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.action-game{
    background-color: #FFF;
    border-radius: 30px;
    width: 200px;
    align-items: center;
}
.action-title{
    color: #0B0223;
}
.actiongame{
    border: 2px solid #FF42A5;
    border-radius: 25px;
}
.all-game-section{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 3fr);
    margin: 0px 100px;
  }
  .action-game:hover{
    border: 1px solid #FF42A5;
  }
 .action-title:hover{
    color: #FF42A5;
 }
 footer{
    margin-top: 50px;
    background: #0B0223;
    text-align: center;
 }
 .frame{
    display: flex;
    padding: 50px 560px;
    color: #FFF;
 }
.gamer-list {
    color: #FFF;
    padding-left: 400px;
    display: flex;
   gap: 40px;
   padding-bottom: 40px;

}
.font-list{
    color: #FFF;
    display: flex;
    gap: 60px;
    padding-left: 630px;
    padding-bottom: 40px;
}
.font-discrip{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 80px;
}
.font-content{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
   display: flex;
   gap: 40px;
   margin-bottom: 40px;
   padding-left: 460px;
}

@media screen and (max-width: 576px){
    
    
    .banner, .header{
        margin: 0;
        padding: 0;
    }
    .banner-img img{
        height: 74%;
        width: 72%;
    }
    nav, ul, .second-banner, .play-instantly{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .logo, .list, .icon{
        font-size: 23px;
    }
    .banner{
        margin: 20px 2px;
        flex-direction: column-reverse;
        text-align: center;
    }
   
    .play{
        font-size: 19px;
    } 
    .goat{
        font-size: 40px;
    }
    .banner-list,.banner-container{
        font-size: 13px;
       margin-top: 5px;
    }
    .banner-content{
        margin-top: 20px;
    }
    .blue-btn{
        margin-top: 8px;
        padding: 5px 12px;
        font-size: 10px;
        border-radius: 8px;
    }
    .pink-btn{
        margin-top: 8px;
        padding: 5px 12px;
        font-size: 10px;
        border-radius: 8px;
    }
    .secnd-img img{
        height: 99%;
        width: 99%;
        padding: 0px 10px 0px 45px;
    }
    .online-container{
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        margin: 25px 80px;
    }
    .instant-content{
        text-align: center;
        margin-top: 10px;
    }
    .play-instantly{
        margin: 40px 90px 0px 70px;
    }
     .ractangular-img img{
        width: 330px;
        height: 400px;
    }
    .ractangular-img{
        /* width: 300px;
        height: 300px; */
        width: 30%;
        margin: 0 auto;
    } 
    .r-img img{
        width: 213px;
        height: 300px;
    }
    .next-container{
        display: none;
    }
  .all-game-section{
    grid-template-columns: repeat(3, 3fr);
    margin: 0px;
  }
  .action-game img{
    width: 30px;
    height: 30px;
  }
  .action-title{
    font-size: 9px;
  }
  .action-game{
    margin-top: 5px;
    width: 110px;
    height: auto;
  }
  .features-image{
    margin-right: 700px;
  }
  .frame{
    padding: 15px 85px;11
}
.gamer-list{
    color: #FFF;
 
    gap: 10px;
    padding-left: 30px;
    padding-bottom: 5px;
}
.font-list{
    gap: 15px;
    padding-left: 180px;
    padding-top: 10px;

}
.font-content{
   padding-left: 30px;
}
}